include *.rst
include .flake8
include CMakeLists.txt
recursive-include src *.py
recursive-include src py.typed
recursive-include src *.c
recursive-include src *.h
recursive-include src *.txt
recursive-include tests *.py
recursive-include tests *.bin
exclude .gitignore
exclude .gitattributes
prune .github
